$pink: #67073A
$blue: #09295A
$darkgrey: #999
$grey: #D9D9D9
$lightgrey: #F9F9F9
$lightpink: #920039
$purple: #602B53

body
	background-color: $grey
	min-height: 100vh
	padding-bottom: 20px
.color-pink 
	color: $pink
.color-lightpink 
	color: $lightpink
.color-purple 
	color: $purple
.color-blue 
	color: $blue
.color-white
	color: white
.text-center
	text-align: center
.uk-card-badge
	background-color: $pink
	padding: 5px 10px
.uk-comment-primary
	background-color: #fff
	border-radius: 6px
	box-shadow: 0 5px 15px rgba(0,0,0,.08)
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.08)

a
	&:hover
		text-decoration: none

.switch
	display: inline-block
	height: 24px
	position: relative
	width: 50px
	margin-left: 20px
.switch input 
	display:none
.slider 
	background-color: $pink
	bottom: 0
	cursor: pointer
	left: 0
	position: absolute
	right: 0
	top: 0
	transition: .4s
	&:before 
		background-color: #fff
		bottom: 4px
		content: ""
		height: 16px
		left: 4px
		position: absolute
		transition: .4s
		width: 16px
input:checked + .slider
	background-color: #017359
	&:before 
		transform: translateX(26px)
.slider.round 
	border-radius: 10px
	&:before
		border-radius: 50%


.login
	height: 100vh
	background-image: url('../img/login_background.jpg')
	background-position: 50% 50%
	background-size: cover
	.connect
		width: 50%
		margin: auto
		text-align: center
		a
			background-color: white
			color: $pink
			font-size: 1.5rem
			min-width: 50%
			margin: auto
			margin-top: 50vh
			padding: 10px
			transition: .5s
			&:hover
				background-color: transparent
				color: white
				border-color: white

.navbar
	height: 40vh
	background-image: url('../img/background.png')
	background-position: 50% 50%
	background-size: cover
	.uk-navbar-container
		background-color: transparent
		a
			color: $grey
			.avatar
				height: 30px
				width: 30px
				background-size: cover
				background-position: 50% 50%
				border-radius: 100%
				margin-right: 10px
			&:hover
				color: white
		.uk-active
			a
				color: white
		.uk-navbar-dropdown
			a
				color: $pink
				&:hover
					color: black

.main
	.content
		padding: 50px
		position: relative
		top: -25vh
		.posts
			.uk-card
				border-radius: 6px
				.img_post
					height: 200px
					background-position: 50% 50%
					background-size: cover
					border-top-right-radius: 6px
					border-top-left-radius: 6px
				.img-left
					border-top-left-radius: 6px
					border-bottom-left-radius: 6px
			.categories
				margin-bottom: 50px
				text-align: center
				a
					background-color: transparent
					color: white
					border: 1px solid white
					padding: 10px 20px
					text-decoration: none
					&:hover, &.active
						border: 1px solid $pink
						color: $pink
						background-color: white
			.pagination
				margin-top: 50px
				nav
					ul
						text-align: center
						li
							display: inline
							a
								font-size: 1.2rem
								color: #999
								font-weight: 600
								margin: 10px
							span
								font-size: 1.2rem
								color: $pink
								font-weight: 600
								margin: 10px
						li.disabled
							display: none
.main-dashboard
	.navbarDashboard
		height: 40vh
		background-image: url('../img/background.png')
		background-position: 50% 50%
		background-size: cover
		.uk-navbar-container
			background-color: transparent
			top: 0
			right: 0
			a
				color: $grey
				.avatar
					height: 30px
					width: 30px
					background-size: cover
					background-position: 50% 50%
					border-radius: 100%
					margin-right: 10px
				&:hover
					color: white
			.uk-active
				a
					color: white
			.uk-navbar-dropdown
				a
					color: $pink
					&:hover
						color: black
	.content
		padding: 50px
		position: relative
		top: -30vh
		h1
			margin-bottom: 50px
		.stats, .overview
			.uk-card
				border: 1px solid rgba(0, 0, 0, .05)
				border-radius: 6px
				background-color: #fff
				.value
					font-size: 3rem
				.content_overview
					margin-top: 20px
					.avatar
						height: 40px
						width: 40px
						background-size: cover
						background-position: 50% 50%
						border-radius: 100%
						margin-right: 10px
					a
						color: $pink
						text-decoration: none
						transition: .5s
						&:hover
							color: $lightpink
					.uk-nav-header
						padding-top: 30px
					.profile_picture
						height: 150px
						width: 150px
						background-size: cover
						background-position: 50% 50%
						border-radius: 100%
						margin: auto
						margin-top: -125px
					.dev
						color: $pink
				.users
					a
						color: $pink
						text-decoration: none
						transition: .5s
						&:hover
							color: $lightpink
			.stats_profile
				.uk-card
					max-height: 30vh
					overflow-y: auto
					.profile_stats
						a
							color: $darkgrey



.sidebarDashboard
	background-color: white
	height: 100vh
	position: fixed
	-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)
	box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2)
	.content
		padding: 20px
		.uk-active.uk-nav-header
			padding: 50px 0
			text-align: center
			a
				color: $pink
				font-weight: bold
				font-size: 2rem