body {
  background-color: #D9D9D9;
  min-height: 100vh;
  padding-bottom: 20px;
}

.color-pink {
  color: #67073A;
}

.color-lightpink {
  color: #920039;
}

.color-purple {
  color: #602B53;
}

.color-blue {
  color: #09295A;
}

.color-white {
  color: white;
}

.text-center {
  text-align: center;
}

.uk-card-badge {
  background-color: #67073A;
  padding: 5px 10px;
}

.uk-comment-primary {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

a:hover {
  text-decoration: none;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 50px;
  margin-left: 20px;
}

.slider {
  background-color: #67073A;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #017359;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.login {
  height: 100vh;
  background-image: url(/images/login_background.jpg?a892a814fdfd083c33235ee275890298);
  background-position: 50% 50%;
  background-size: cover;
}

.login .connect {
  width: 50%;
  margin: auto;
  text-align: center;
}

.login .connect a {
  background-color: white;
  color: #67073A;
  font-size: 1.5rem;
  min-width: 50%;
  margin: auto;
  margin-top: 50vh;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login .connect a:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.navbar {
  height: 40vh;
  background-image: url(/images/background.png?7878b636dd73844e4f0937749f9a5ceb);
  background-position: 50% 50%;
  background-size: cover;
}

.navbar .uk-navbar-container {
  background-color: transparent;
}

.navbar .uk-navbar-container a {
  color: #D9D9D9;
}

.navbar .uk-navbar-container a .avatar {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.navbar .uk-navbar-container a:hover {
  color: white;
}

.navbar .uk-navbar-container .uk-active a {
  color: white;
}

.navbar .uk-navbar-container .uk-navbar-dropdown a {
  color: #67073A;
}

.navbar .uk-navbar-container .uk-navbar-dropdown a:hover {
  color: black;
}

.main .content {
  padding: 50px;
  position: relative;
  top: -25vh;
}

.main .content .posts .uk-card {
  border-radius: 6px;
}

.main .content .posts .uk-card .img_post {
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.main .content .posts .uk-card .img-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.main .content .posts .categories {
  margin-bottom: 50px;
  text-align: center;
}

.main .content .posts .categories a {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  text-decoration: none;
}

.main .content .posts .categories a:hover,
.main .content .posts .categories a.active {
  border: 1px solid #67073A;
  color: #67073A;
  background-color: white;
}

.main .content .posts .pagination {
  margin-top: 50px;
}

.main .content .posts .pagination nav ul {
  text-align: center;
}

.main .content .posts .pagination nav ul li {
  display: inline;
}

.main .content .posts .pagination nav ul li a {
  font-size: 1.2rem;
  color: #999;
  font-weight: 600;
  margin: 10px;
}

.main .content .posts .pagination nav ul li span {
  font-size: 1.2rem;
  color: #67073A;
  font-weight: 600;
  margin: 10px;
}

.main .content .posts .pagination nav ul li.disabled {
  display: none;
}

.main-dashboard .navbarDashboard {
  height: 40vh;
  background-image: url(/images/background.png?7878b636dd73844e4f0937749f9a5ceb);
  background-position: 50% 50%;
  background-size: cover;
}

.main-dashboard .navbarDashboard .uk-navbar-container {
  background-color: transparent;
  top: 0;
  right: 0;
}

.main-dashboard .navbarDashboard .uk-navbar-container a {
  color: #D9D9D9;
}

.main-dashboard .navbarDashboard .uk-navbar-container a .avatar {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.main-dashboard .navbarDashboard .uk-navbar-container a:hover {
  color: white;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-active a {
  color: white;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-navbar-dropdown a {
  color: #67073A;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-navbar-dropdown a:hover {
  color: black;
}

.main-dashboard .content {
  padding: 50px;
  position: relative;
  top: -30vh;
}

.main-dashboard .content h1 {
  margin-bottom: 50px;
}

.main-dashboard .content .stats .uk-card,
.main-dashboard .content .overview .uk-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background-color: #fff;
}

.main-dashboard .content .stats .uk-card .value,
.main-dashboard .content .overview .uk-card .value {
  font-size: 3rem;
}

.main-dashboard .content .stats .uk-card .content_overview,
.main-dashboard .content .overview .uk-card .content_overview {
  margin-top: 20px;
}

.main-dashboard .content .stats .uk-card .content_overview .avatar,
.main-dashboard .content .overview .uk-card .content_overview .avatar {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.main-dashboard .content .stats .uk-card .content_overview a,
.main-dashboard .content .overview .uk-card .content_overview a {
  color: #67073A;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-dashboard .content .stats .uk-card .content_overview a:hover,
.main-dashboard .content .overview .uk-card .content_overview a:hover {
  color: #920039;
}

.main-dashboard .content .stats .uk-card .content_overview .uk-nav-header,
.main-dashboard .content .overview .uk-card .content_overview .uk-nav-header {
  padding-top: 30px;
}

.main-dashboard .content .stats .uk-card .content_overview .profile_picture,
.main-dashboard .content .overview .uk-card .content_overview .profile_picture {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin: auto;
  margin-top: -125px;
}

.main-dashboard .content .stats .uk-card .content_overview .dev,
.main-dashboard .content .overview .uk-card .content_overview .dev {
  color: #67073A;
}

.main-dashboard .content .stats .uk-card .users a,
.main-dashboard .content .overview .uk-card .users a {
  color: #67073A;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-dashboard .content .stats .uk-card .users a:hover,
.main-dashboard .content .overview .uk-card .users a:hover {
  color: #920039;
}

.main-dashboard .content .stats .stats_profile .uk-card,
.main-dashboard .content .overview .stats_profile .uk-card {
  max-height: 30vh;
  overflow-y: auto;
}

.main-dashboard .content .stats .stats_profile .uk-card .profile_stats a,
.main-dashboard .content .overview .stats_profile .uk-card .profile_stats a {
  color: #999;
}

.sidebarDashboard {
  background-color: white;
  height: 100vh;
  position: fixed;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebarDashboard .content {
  padding: 20px;
}

.sidebarDashboard .content .uk-active.uk-nav-header {
  padding: 50px 0;
  text-align: center;
}

.sidebarDashboard .content .uk-active.uk-nav-header a {
  color: #67073A;
  font-weight: bold;
  font-size: 2rem;
}

