body {
  background-color: #D9D9D9;
  min-height: 100vh;
  padding-bottom: 20px;
}

.color-pink {
  color: #67073A;
}

.color-lightpink {
  color: #920039;
}

.color-purple {
  color: #602B53;
}

.color-blue {
  color: #09295A;
}

.login {
  height: 100vh;
  background-image: url(/images/login_background.jpg?a892a814fdfd083c33235ee275890298);
  background-position: 50% 50%;
  background-size: cover;
}

.login .connect {
  width: 50%;
  margin: auto;
  text-align: center;
}

.login .connect a {
  background-color: white;
  color: #67073A;
  font-size: 1.5rem;
  min-width: 50%;
  margin: auto;
  margin-top: 50vh;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login .connect a:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.navbar {
  height: 40vh;
  background-image: url(/images/background.png?7878b636dd73844e4f0937749f9a5ceb);
  background-position: 50% 50%;
  background-size: cover;
}

.navbar .uk-navbar-container {
  background-color: transparent;
}

.navbar .uk-navbar-container a {
  color: #D9D9D9;
}

.navbar .uk-navbar-container a .avatar {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.navbar .uk-navbar-container a:hover {
  color: white;
}

.navbar .uk-navbar-container .uk-active a {
  color: white;
}

.navbar .uk-navbar-container .uk-navbar-dropdown a {
  color: #67073A;
}

.navbar .uk-navbar-container .uk-navbar-dropdown a:hover {
  color: black;
}

.main {
  width: 95%;
  margin: auto;
  position: relative;
  top: -50px;
  background-color: #F9F9F9;
  border-radius: 6px;
}

.main .content {
  padding: 50px;
}

.main .content .posts .uk-card {
  border-radius: 6px;
}

.main .content .posts .uk-card .img_post {
  height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.main .content .posts .uk-card .uk-card-media-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.main .content .posts .categories {
  margin-bottom: 50px;
  text-align: center;
}

.main .content .posts .categories a {
  border: 1px solid #67073A;
  color: #67073A;
  padding: 10px 20px;
  text-decoration: none;
}

.main-dashboard .navbarDashboard {
  height: 40vh;
  background-image: url(/images/background.png?7878b636dd73844e4f0937749f9a5ceb);
  background-position: 50% 50%;
  background-size: cover;
}

.main-dashboard .navbarDashboard .uk-navbar-container {
  background-color: transparent;
  top: 0;
  right: 0;
}

.main-dashboard .navbarDashboard .uk-navbar-container a {
  color: #D9D9D9;
}

.main-dashboard .navbarDashboard .uk-navbar-container a .avatar {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.main-dashboard .navbarDashboard .uk-navbar-container a:hover {
  color: white;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-active a {
  color: white;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-navbar-dropdown a {
  color: #67073A;
}

.main-dashboard .navbarDashboard .uk-navbar-container .uk-navbar-dropdown a:hover {
  color: black;
}

.main-dashboard .content {
  padding: 50px;
  position: relative;
  top: -30vh;
}

.main-dashboard .content .stats .uk-card,
.main-dashboard .content .overview .uk-card {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  background-color: #fff;
}

.main-dashboard .content .stats .uk-card .value,
.main-dashboard .content .overview .uk-card .value {
  font-size: 3rem;
}

.main-dashboard .content .stats .uk-card .content_overview,
.main-dashboard .content .overview .uk-card .content_overview {
  margin-top: 20px;
}

.main-dashboard .content .stats .uk-card .content_overview .avatar,
.main-dashboard .content .overview .uk-card .content_overview .avatar {
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 100%;
  margin-right: 10px;
}

.main-dashboard .content .stats .uk-card .content_overview a,
.main-dashboard .content .overview .uk-card .content_overview a {
  color: #67073A;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-dashboard .content .stats .uk-card .content_overview a:hover,
.main-dashboard .content .overview .uk-card .content_overview a:hover {
  color: #920039;
}

.main-dashboard .content .stats .uk-card .content_overview .uk-nav-header,
.main-dashboard .content .overview .uk-card .content_overview .uk-nav-header {
  padding-top: 30px;
}

.sidebarDashboard {
  background-color: white;
  height: 100vh;
  position: fixed;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebarDashboard .content {
  padding: 20px;
}

.sidebarDashboard .content .uk-active.uk-nav-header {
  padding: 50px 0;
  text-align: center;
}

.sidebarDashboard .content .uk-active.uk-nav-header a {
  color: #67073A;
  font-weight: bold;
  font-size: 2rem;
}

