.login {
  height: 100vh;
  background-image: url(/images/login_background.jpg?a892a814fdfd083c33235ee275890298);
  background-position: 50% 50%;
  background-size: cover;
}

.login .connect {
  width: 50%;
  margin: auto;
  text-align: center;
}

.login .connect a {
  background-color: white;
  color: #67073A;
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  margin-top: 50vh;
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.login .connect a:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

